<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a Client</title>
    <div th:replace="base::header"></div>
</head>
<body>



<form th:action="@{/addTrainertoExperiance/{trainid}(trainid=${fittrain.id})}"  th:object="${anexperiance}"  method="post">

    <input type="text" th:value="${fittrain.id}" name="trainerid"/>
    <label th:inline="text"> Adding Trainers [[${fittrain.firstName}]]</label>

    <select name="experiances">
        <option th:each="anexperiance:${allexperiance}" th:value="${anexperiance.id}" th:text="${anexperiance.experianceLevel}">Trainer id</option>
    </select>

    <input type="Submit" value="Add Trainers Experiance"/>
</form>

</body>
</html>